.titulo-principal{
    text-align: center;
    background-color: #851944;
    color: white;
    padding: 25px;
    border-bottom: 10px solid black;
    font-size: 60px;
    line-height: 1.5
}

h2{
    background-color: #851944;
    color: white;
    text-align: center;
}
main{
    width: 60%;
    float: right;
    text-align: auto;
    margin: auto;
    font-family: sans-serif;
}

.minha-foto{
    width: 300px;
    height: 300px;
    float: right;
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 7px solid black;
    border-left: 7px solid black;
}

.navegacao-site{
    width: 23%;
    float: left;
    position: absolute;
    top:-70px;
    border-bottom: 7px solid black;
    border-left: 7px solid black;
    border-right: 7px solid black;
}

aside {
    background-color: #3C1D3D;
    color: #F2FFFC;
    margin-bottom: 25px;
    text-align: center;
}
section{
    float: center;
    width: 60%;
    margin-bottom: 70px;
}

.rodape{
  background-color: #000;
   color: #F2FFFC;
  clear: both;
   position: fixed;
   bottom: 0;
   left: 0;
  width: 100%;
}

ul{
    color: white;
}
ul li a{
    color: inherit;
}

.redes-sociais {
    width: 40px;
    height: 40px;
    display: inline-flex;
    margin-bottom: 25px;
}

.github{
    width: 40px;
    height: 40px;
}

.linkedin{
    width: 40px;
    height: 40px;
}

.instagram{
    width: 40px;
    height: 40px;
}

.carousel-slide{
    width: 40px;
    height: 40px;
}